In [202]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
import xgboost as xgb
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from mlxtend.classifier import StackingClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import BaggingClassifier

In [19]:
df = pd.read_excel("/home/ryan/stark/machinehack/Food_QUalityA_ParticipantsData/Food_QUalityA_ParticipantsData/Data_TrainCLEANEDandONEHOT1.xlsx", index_col =0)

In [20]:
df.head(2)

,Type,Street,LocationID,SectionViolations,Geo_Loc,Inspection_Results,RiskLevel_High,RiskLevel_Low,RiskLevel_Medium,RiskLevel_Uncertain,...,Reason_LICENSE RE-INSPECTION,Reason_LICENSE-TASK FORCE,Reason_OUT OF BUSINESS,Reason_RECENT INSPECTION,Reason_SHORT FORM COMPLAINT,Reason_SHORT FORM FIRE-COMPLAINT,Reason_SUSPECTED FOOD POISONING,Reason_SUSPECTED FOOD POISONING RE-INSPECTION,Reason_TAG REMOVAL,Reason_TASK FORCE LIQUOR 1475
0,326,15522,81876,33,6889,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,182,3057,81862,33,14998,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
sub = pd.read_excel("/home/ryan/stark/machinehack/Food_QUalityA_ParticipantsData/Food_QUalityA_ParticipantsData/Data_TestCLEANEDandONEHOT1.xlsx", index_col=0)

In [22]:
sub.head()

,Type,Street,LocationID,SectionViolations,Geo_Loc,RiskLevel_High,RiskLevel_Low,RiskLevel_Medium,RiskLevel_Uncertain,City_id-11235901,...,Reason_LICENSE RE-INSPECTION,Reason_LICENSE-TASK FORCE,Reason_OUT OF BUSINESS,Reason_RECENT INSPECTION,Reason_SHORT FORM COMPLAINT,Reason_SHORT FORM FIRE-COMPLAINT,Reason_SUSPECTED FOOD POISONING,Reason_SUSPECTED FOOD POISONING RE-INSPECTION,Reason_TAG REMOVAL,Reason_TASK FORCE LIQUOR 1475
0,127,17352,81864,19,1341,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,256,15536,81871,32,5812,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,234,8849,81902,32,2658,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,256,11663,81869,32,11144,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,234,16286,81874,32,6425,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [23]:
Y = df['Inspection_Results']
X = df.drop('Inspection_Results', axis =1)

In [24]:
X.head()

,Type,Street,LocationID,SectionViolations,Geo_Loc,RiskLevel_High,RiskLevel_Low,RiskLevel_Medium,RiskLevel_Uncertain,City_id-11235901,...,Reason_LICENSE RE-INSPECTION,Reason_LICENSE-TASK FORCE,Reason_OUT OF BUSINESS,Reason_RECENT INSPECTION,Reason_SHORT FORM COMPLAINT,Reason_SHORT FORM FIRE-COMPLAINT,Reason_SUSPECTED FOOD POISONING,Reason_SUSPECTED FOOD POISONING RE-INSPECTION,Reason_TAG REMOVAL,Reason_TASK FORCE LIQUOR 1475
0,326,15522,81876,33,6889,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,182,3057,81862,33,14998,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,326,14988,81883,32,9140,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,326,3661,81859,31,1991,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,326,7876,81886,30,2443,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [25]:
sub.head()

,Type,Street,LocationID,SectionViolations,Geo_Loc,RiskLevel_High,RiskLevel_Low,RiskLevel_Medium,RiskLevel_Uncertain,City_id-11235901,...,Reason_LICENSE RE-INSPECTION,Reason_LICENSE-TASK FORCE,Reason_OUT OF BUSINESS,Reason_RECENT INSPECTION,Reason_SHORT FORM COMPLAINT,Reason_SHORT FORM FIRE-COMPLAINT,Reason_SUSPECTED FOOD POISONING,Reason_SUSPECTED FOOD POISONING RE-INSPECTION,Reason_TAG REMOVAL,Reason_TASK FORCE LIQUOR 1475
0,127,17352,81864,19,1341,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,256,15536,81871,32,5812,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,234,8849,81902,32,2658,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,256,11663,81869,32,11144,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,234,16286,81874,32,6425,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [26]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [ ]:
#######hyptertune xgboost#######

In [27]:
clf1=xgb.XGBClassifier()

In [ ]:
##########3hypertuning Randomforest#####

In [28]:
clf2=RandomForestClassifier()

In [29]:
clf3= LogisticRegression()

In [30]:
clf4 = KNeighborsClassifier(n_neighbors = 3)

In [31]:
meta=LogisticRegression()

In [ ]:
##############bagging model########33

In [203]:
base_cls=clf2
model = BaggingClassifier(base_estimator = base_cls, 
                          n_estimators = 50, 
                          random_state = 0)

In [ ]:
model.fit(X_train,Y_train)

In [ ]:
l=model.predict(X_test)

In [ ]:
model.score(X_test,Y,test)

In [ ]:
accuracy_score(Y_test, l)

In [32]:
sclf = StackingClassifier(classifiers=[clf1, clf2, clf3 ,clf4], 
                          meta_classifier=meta)

In [ ]:
#sclf.fit(X_train,Y_train)
#y_pred=sclf.predict(X_test)

In [ ]:
#accuracy_score(Y_test, y_pred)

In [ ]:
#############submission#############333

In [33]:
sclf.fit(X,Y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

StackingClassifier(average_probas=False,
                   classifiers=[XGBClassifier(base_score=0.5, booster='gbtree',
                                              colsample_bylevel=1,
                                              colsample_bynode=1,
                                              colsample_bytree=1, gamma=0,
                                              learning_rate=0.1,
                                              max_delta_step=0, max_depth=3,
                                              min_child_weight=1, missing=None,
                                              n_estimators=100, n_jobs=1,
                                              nthread=None,
                                              objective='binary:logistic',
                                              random_state=0, reg_alpha=0,
                                              reg_lambda=1...
                   meta_classifier=LogisticRegression(C=1.0, class_weight=None,
                                                      dual=False,
                                                      fit_intercept=True,
                                                      intercept_scaling=1,
                                                      l1_ratio=None,
                                                      max_iter=100,
                                                      multi_class='auto',
                                                      n_jobs=None, penalty='l2',
                                                      random_state=None,
                                                      solver='lbfgs',
                                                      tol=0.0001, verbose=0,
                                                      warm_start=False),
                   store_train_meta_features=False, use_clones=True,
                   use_features_in_secondary=False, use_probas=False,
                   verbose=0)

In [39]:
f = sclf.predict(sub)

In [ ]:
###########submission format changing and saving############

In [180]:
data = pd.DataFrame(f.tolist(),columns=['Ins'])

In [182]:
data.head(3)

   Ins
0    1
1    4
2    4
3    6
4    4

In [191]:
g = pd.get_dummies(data, prefix="",columns=['Ins'])

In [192]:
g['_0']=0 #not in data so adding them
g['_2']=0
g.head()

   _1  _3  _4  _5  _6  _0  _2
0   1   0   0   0   0   0   0
1   0   0   1   0   0   0   0
2   0   0   1   0   0   0   0
3   0   0   0   0   1   0   0
4   0   0   1   0   0   0   0

In [193]:
g.rename(columns = {'_0':'FACILITY CHANGED', 
                    '_1':'FAIL', 
                    '_2':'FURTHER INSPECTION REQUIRED' , 
                    '_3':'INSPECTION OVERRULED'  , 
                    '_4':'PASS', 
                    '_5':'PASS(CONDITIONAL)' , 
                    '_6':'SHUT-DOWN' },inplace=True)

In [196]:
g = g[['FACILITY CHANGED', 'FAIL', 'FURTHER INSPECTION REQUIRED',
       'INSPECTION OVERRULED', 'PASS', 'PASS(CONDITIONAL)', 'SHUT-DOWN']]

In [174]:
sub = pd.read_excel('/home/ryan/stark/machinehack/Food_QUalityA_ParticipantsData/Food_QUalityA_ParticipantsData/Sample_Submission.xlsx')

In [197]:
sub.head(3)

,FACILITY CHANGED,FAIL,FURTHER INSPECTION REQUIRED,INSPECTION OVERRULED,PASS,PASS(CONDITIONAL),SHUT-DOWN
0,0.1,0.1,0.1,0.1,0.1,0.1,0.1
1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
2,0.1,0.1,0.1,0.1,0.1,0.1,0.1

In [198]:
g.head(3)

,FACILITY CHANGED,FAIL,FURTHER INSPECTION REQUIRED,INSPECTION OVERRULED,PASS,PASS(CONDITIONAL),SHUT-DOWN
0,0,1,0,0,0,0,0
1,0,0,0,0,1,0,0
2,0,0,0,0,1,0,0

In [200]:
g.to_excel(excel_writer = "/home/ryan/stark/machinehack/Food_QUalityA_ParticipantsData/Food_QUalityA_ParticipantsData/submission2.xlsx")