In [62]:
import pandas as pd
import numpy as np
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print("Setup Complete")

Setup Complete

In [63]:
# Read the file into a variable fifa_data
filepath = "/home/ryan/stark/MachineHack/Food_QUalityA_ParticipantsData/Data_Train.xlsx"
data = pd.read_excel(filepath)

In [64]:
testdata = pd.read_excel('/home/ryan/stark/MachineHack/Food_QUalityA_ParticipantsData/Data_Test.xlsx')

In [65]:
data.head()

,ID,Date,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc,Inspection_Results
0,31103489027986,26-04-2010,4744,8123,7715,RESTAURANT,15522,id-11235901,id_1890134,81876.0,CANVASS,33.0,High,locid16406,4
1,10088999935915,21-06-2009,2973,12268,11664,GROCERY STORE,3057,id-11235901,id_1890134,81862.0,COMPLAINT,33.0,High,locid878,4
2,40148966010272,01-05-2013,18223,1112,969,RESTAURANT,14988,id-11235901,id_1890134,81883.0,CANVASS,NaN,High,locid3368,6
3,37157708563676,28-09-2015,20825,20007,19115,RESTAURANT,3661,id-11235901,id_1890134,81859.0,CANVASS RE-INSPECTION,31.0,Medium,locid11839,4
4,47478049564374,09-12-2015,2136,16867,10409,RESTAURANT,7876,id-11235901,id_1890134,81886.0,COMPLAINT,30.0,High,locid12264,4

In [5]:
# from datetime import datetime
# data['Date'] = pd.to_datetime(data['Date'] ,errors='coerce')

In [66]:
data['Geo_Loc'] = data['Geo_Loc'].str.replace(r'\D', '')
testdata['Geo_Loc'] = testdata['Geo_Loc'].str.replace(r'\D', '')

In [67]:
data['Geo_Loc'] = pd.to_numeric(data['Geo_Loc'], errors='coerce') 
testdata['Geo_Loc'] = pd.to_numeric(testdata['Geo_Loc'], errors='coerce')

In [69]:
data['Geo_Loc'].dtype
testdata['Geo_Loc'].dtype

dtype('int64')

In [70]:
data['Geo_Loc'].head()

0    16406
1      878
2     3368
3    11839
4    12264
Name: Geo_Loc, dtype: int64

In [71]:
total = data.isnull().sum().sort_values(ascending=False)
percent_1 = data.isnull().sum()/data.isnull().count()*100
percent_2 = (np.round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%']) #ptr
missing_data

                    Total     %
SectionViolations   39068  26.5
Type                 3485   2.4
LocationID             35   0.0
Inspection_Results      0   0.0
Geo_Loc                 0   0.0
RiskLevel               0   0.0
Reason                  0   0.0
State                   0   0.0
City                    0   0.0
Street                  0   0.0
FacilityName            0   0.0
FacilityID              0   0.0
LicenseNo               0   0.0
Date                    0   0.0
ID                      0   0.0

In [72]:
total = testdata.isnull().sum().sort_values(ascending=False)
percent_1 = testdata.isnull().sum()/testdata.isnull().count()*100
percent_2 = (np.round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%']) #ptr
missing_data

                   Total     %
SectionViolations  12976  26.4
Type                1215   2.5
LocationID            15   0.0
Geo_Loc                0   0.0
RiskLevel              0   0.0
Reason                 0   0.0
State                  0   0.0
City                   0   0.0
Street                 0   0.0
FacilityName           0   0.0
FacilityID             0   0.0
LicenseNo              0   0.0
Date                   0   0.0
ID                     0   0.0

In [79]:
from sklearn.model_selection import train_test_split
y = data.Inspection_Results

# To keep things simple, we'll use only numerical predictors
melb_predictors = data.drop(['Inspection_Results'], axis=1)
X = melb_predictors.copy() 
# Divide data into training and validation subsets
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.80, test_size=0.20,random_state=0)

In [73]:
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from sklearn.metrics import log_loss
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import classification_report
from sklearn.metrics import classification_report
    
# Function for comparing different approaches
def score_dataset(X_train, X_valid, y_train, y_valid):
    model = RandomForestClassifier(random_state=0)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    target_names = ['class 0', 'class 1', 'class 2','class 3', 'class 4', 'class 5', 'class 6']
    print(classification_report(y_valid, preds, target_names=target_names,labels= [0,1,2,3,4,5,6]))
    return model.score(X_valid,y_valid)

In [76]:
from sklearn.impute import SimpleImputer

# Imputation
my_imputer = SimpleImputer(strategy='most_frequent')
imX_train = pd.DataFrame(my_imputer.fit_transform(data.drop('Inspection_Results',axis =1)) )
imX_valid = pd.DataFrame(my_imputer.transform(testdata))

# Imputation removed column names; put them back
imX_train.columns = X_train.columns
imX_valid.columns = X_valid.columns

In [77]:
imX_train.dtypes

ID                   object
Date                 object
LicenseNo            object
FacilityID           object
FacilityName         object
Type                 object
Street               object
City                 object
State                object
LocationID           object
Reason               object
SectionViolations    object
RiskLevel            object
Geo_Loc              object
dtype: object

In [80]:
categorical_cols = [cname for cname in X.columns if X[cname].nunique() < 500000000000000000 and 
                        X[cname].dtype == "object"]

In [81]:
categorical_cols

['Date', 'Type', 'City', 'State', 'Reason', 'RiskLevel']

In [82]:
numerical_cols = [cname for cname in X.columns if X[cname].dtype in ['int64', 'float64']]

In [83]:
numerical_cols

['ID',
 'LicenseNo',
 'FacilityID',
 'FacilityName',
 'Street',
 'LocationID',
 'SectionViolations',
 'Geo_Loc']

In [84]:
imX_train[numerical_cols] = imX_train[numerical_cols].apply(pd.to_numeric, errors='coerce')
imX_valid[numerical_cols] = imX_valid[numerical_cols].apply(pd.to_numeric, errors='coerce')

In [85]:
imX_train.dtypes

ID                     int64
Date                  object
LicenseNo              int64
FacilityID             int64
FacilityName           int64
Type                  object
Street                 int64
City                  object
State                 object
LocationID           float64
Reason                object
SectionViolations    float64
RiskLevel             object
Geo_Loc                int64
dtype: object

In [86]:
from datetime import datetime
imX_train['Date'] = pd.to_datetime(imX_train['Date'] ,errors='coerce')
imX_valid['Date'] = pd.to_datetime(imX_valid['Date'] ,errors='coerce')

In [87]:
imX_train.dtypes

ID                            int64
Date                 datetime64[ns]
LicenseNo                     int64
FacilityID                    int64
FacilityName                  int64
Type                         object
Street                        int64
City                         object
State                        object
LocationID                  float64
Reason                       object
SectionViolations           float64
RiskLevel                    object
Geo_Loc                       int64
dtype: object

In [88]:
s = (imX_train.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

Categorical variables:
['Type', 'City', 'State', 'Reason', 'RiskLevel']

In [89]:
# np.where(imX_valid['Type'] == 'WHOLESALE & RETAIL')

In [90]:
# np.where(imX_train['Type'] == 'WHOLESALE & RETAIL')

In [91]:
# imX_valid[2538 :2539]

In [92]:
# y_valid[2538:2539]

In [93]:
# imX_valid = imX_valid.drop(2538)

In [94]:
# y_valid = y_valid.drop(2538)

In [95]:
# import skutil

In [96]:
# class LabelEncoderExt(object):
#     def __init__(self):
#         """
#         It differs from LabelEncoder by handling new classes and providing a value for it [Unknown]
#         Unknown will be added in fit and transform will take care of new item. It gives unknown class id
#         """
#         self.label_encoder = LabelEncoder()
#         # self.classes_ = self.label_encoder.classes_

#     def fit(self, data_list):
#         """
#         This will fit the encoder for all the unique values and introduce unknown value
#         :param data_list: A list of string
#         :return: self
#         """
#         self.label_encoder = self.label_encoder.fit(list(data_list) + ['Unknown'])
#         self.classes_ = self.label_encoder.classes_

#         return self

#     def transform(self, data_list):
#         """
#         This will transform the data_list to id list where the new values get assigned to Unknown class
#         :param data_list:
#         :return:
#         """
#         new_data_list = list(data_list)
#         for unique_item in np.unique(data_list):
#             if unique_item not in self.label_encoder.classes_:
#                 new_data_list = ['Unknown' if x==unique_item else x for x in new_data_list]

#         return self.label_encoder.transform(new_data_list)

In [97]:
# label_encoderext = LabelEncoderExt()

# # label_encoder.fit(country_list)
# # print(label_encoder.classes_) # you can see new class called Unknown
# # print(label_encoder.transform(country_list))


# # new_country_list = ['Canada', 'France', 'Italy', 'Spain', 'US', 'India', 'Pakistan', 'South Africa']
# # print(label_encoder.transform(new_country_list))

In [98]:
from sklearn.preprocessing import LabelEncoder


# Make copy to avoid changing original data 
label_X_train = imX_train.copy()
label_X_valid = imX_valid.copy()

# Apply label encoder to each column with categorical data
#label_encoder = LabelEncoder()
for col in object_cols:
    label_encoderext.fit(imX_train[col])
    label_X_train[col] = label_encoderext.transform(imX_train[col])
    label_X_valid[col] = label_encoderext.transform(imX_valid[col])

In [99]:
#predicting

In [100]:
from sklearn.tree import DecisionTreeClassifier

from sklearn.ensemble import BaggingClassifier

clf3 = DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=11, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=8, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

clf4 = BaggingClassifier(base_estimator=clf3, n_estimators=100, max_samples=1.0, max_features=1.0, 
                         bootstrap=True,
                         bootstrap_features=False, oob_score=True, warm_start=False,
                         n_jobs=-1, random_state=None, verbose=0)

In [106]:
# (data
#  .groupby(['Date', 'Inspection_Results'])
#  .size()
#  .unstack()
#  .plot.bar()
# )

In [107]:
label_X_train = label_X_train.assign(hour=label_X_train.Date.dt.hour,
               day=label_X_train.Date.dt.day,
               month=label_X_train.Date.dt.month,
               year=label_X_train.Date.dt.year)

In [108]:
label_X_valid = label_X_valid.assign(hour=label_X_valid.Date.dt.hour,
               day=label_X_valid.Date.dt.day,
               month=label_X_valid.Date.dt.month,
               year=label_X_valid.Date.dt.year)

In [109]:
label_X_train = label_X_train.drop(['Date','ID'] , axis=1)

In [110]:
label_X_valid = label_X_valid.drop(['Date','ID' ], axis=1)

In [111]:
label_X_train.isnull().sum()

LicenseNo             0
FacilityID            0
FacilityName          0
Type                  0
Street                0
City                  0
State                 0
LocationID            0
Reason                0
SectionViolations     0
RiskLevel             0
Geo_Loc               0
hour                 53
day                  53
month                53
year                 53
dtype: int64

In [112]:
label_X_train.fillna(label_X_train.mean(), inplace=True)
label_X_valid.fillna(label_X_valid.mean(), inplace=True)

In [114]:
clf4.fit(label_X_train,y)

BaggingClassifier(base_estimator=DecisionTreeClassifier(ccp_alpha=0.0,
                                                        class_weight=None,
                                                        criterion='entropy',
                                                        max_depth=None,
                                                        max_features=11,
                                                        max_leaf_nodes=None,
                                                        min_impurity_decrease=0.0,
                                                        min_impurity_split=None,
                                                        min_samples_leaf=8,
                                                        min_samples_split=2,
                                                        min_weight_fraction_leaf=0.0,
                                                        presort='deprecated',
                                                        random_state=None,
                                                        splitter='best'),
                  bootstrap=True, bootstrap_features=False, max_features=1.0,
                  max_samples=1.0, n_estimators=100, n_jobs=-1, oob_score=True,
                  random_state=None, verbose=0, warm_start=False)

In [115]:
preds = clf4.predict(label_X_valid)

In [116]:
pred = pd.DataFrame(preds.tolist(),columns=['Ins'])

In [117]:
g4 = pd.get_dummies(pred, prefix="",columns=['Ins'])

In [118]:
g4

       _1  _2  _3  _4  _5  _6
0       1   0   0   0   0   0
1       0   0   0   1   0   0
2       0   0   0   1   0   0
3       0   0   0   1   0   0
4       0   0   0   1   0   0
...    ..  ..  ..  ..  ..  ..
49143   0   0   0   0   0   1
49144   0   0   0   1   0   0
49145   0   0   0   1   0   0
49146   1   0   0   0   0   0
49147   0   0   0   1   0   0

[49148 rows x 6 columns]

In [41]:
#error on validation data
score_dataset(label_X_train, label_X_valid, y_train, y_valid)

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

     class 0       0.00      0.00      0.00         9
     class 1       0.79      0.71      0.75      5747
     class 2       0.53      0.34      0.41       258
     class 3       0.48      0.20      0.29       909
     class 4       0.88      0.95      0.91     15911
     class 5       0.71      0.74      0.72      4074
     class 6       0.70      0.64      0.67      2581

    accuracy                           0.82     29489
   macro avg       0.58      0.51      0.54     29489
weighted avg       0.81      0.82      0.81     29489

0.8175251788802604

# Feature Engineering

In [42]:
lxt = label_X_train.copy()
lxv = label_X_valid.copy()

In [43]:
lxt

,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc,hour,day,month,year
0,14062,24159,16384,387,11702,1,1,81854.0,7,32.0,2,4242,0.0,14.0,3.0,2010.0
1,30876,26907,25673,314,17128,1,1,81856.0,6,32.0,2,9043,0.0,6.0,12.0,2017.0
2,10360,19353,18492,314,11105,1,1,81863.0,1,14.0,0,13961,0.0,6.0,9.0,2016.0
3,27268,3670,3463,314,16421,1,1,81859.0,3,38.0,2,11916,0.0,4.0,3.0,2017.0
4,34144,10068,9555,314,1173,1,1,81911.0,0,33.0,2,16551,0.0,11.0,5.0,2014.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117949,10984,12219,11623,314,3887,1,1,81867.0,0,32.0,0,9498,0.0,27.0,9.0,2012.0
117950,23404,9401,8915,314,1173,1,1,81911.0,0,3.0,0,16551,0.0,2.0,7.0,2017.0
117951,17061,7663,7284,314,7518,1,1,81870.0,3,32.0,0,14718,0.0,3.0,5.0,2012.0
117952,4757,6345,6079,314,13253,1,1,81886.0,1,32.0,0,12351,0.0,18.0,2.0,2009.0
117953,34597,18877,18047,314,17738,1,1,81859.0,13,3.0,0,11904,0.0,23.0,3.0,2009.0

In [44]:
interactions = (lxt['Reason'].map(str)) + "_" + (lxt['RiskLevel'].map(str))
len(interactions.unique())

54

In [45]:
label_enc = LabelEncoder()
traindata_interaction = lxt.assign(ReasonRiskLevel=label_enc.fit_transform(interactions))
traindata_interaction.head()

,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc,hour,day,month,year,ReasonRiskLevel
0,14062,24159,16384,387,11702,1,1,81854.0,7,32.0,2,4242,0.0,14.0,3.0,2010.0,47
1,30876,26907,25673,314,17128,1,1,81856.0,6,32.0,2,9043,0.0,6.0,12.0,2017.0,43
2,10360,19353,18492,314,11105,1,1,81863.0,1,14.0,0,13961,0.0,6.0,9.0,2016.0,25
3,27268,3670,3463,314,16421,1,1,81859.0,3,38.0,2,11916,0.0,4.0,3.0,2017.0,34
4,34144,10068,9555,314,1173,1,1,81911.0,0,33.0,2,16551,0.0,11.0,5.0,2014.0,2

In [46]:
testdata_interaction = lxv.assign(ReasonRiskLevel=interactions)

In [47]:
testdata_interaction['ReasonRiskLevel'] = label_enc.transform(testdata_interaction['ReasonRiskLevel'])

In [48]:
# traindata_interaction['ReasonRiskLevel']

In [49]:
testdata_interaction.head()

,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc,hour,day,month,year,ReasonRiskLevel
0,28225,4702,4480,314,13072,1,1,81875.0,0,2.0,0,15302,0.0,7.0,9.0,2018.0,47
1,743,25793,24635,50,2087,1,1,81882.0,0,32.0,2,3211,0.0,17.0,11.0,2014.0,43
2,24297,13257,12588,314,2382,1,1,81855.0,1,32.0,0,9774,0.0,19.0,12.0,2015.0,25
3,18030,7609,7234,338,12441,1,1,81883.0,0,32.0,0,3875,0.0,21.0,10.0,2010.0,34
4,17544,23678,22588,314,479,1,1,81862.0,0,33.0,0,511,0.0,31.0,1.0,2012.0,2

In [50]:
##feature2

In [51]:
interactions2 = (traindata_interaction['Reason'].map(str)) + "_" + (traindata_interaction['SectionViolations'].map(str))
len(interactions2.unique())

585

In [52]:
label_enc2 = LabelEncoder()
traindata_interaction = traindata_interaction.assign(ReasonSectionViolations=label_enc2.fit_transform(interactions2))
traindata_interaction.head()

,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc,hour,day,month,year,ReasonRiskLevel,ReasonSectionViolations
0,14062,24159,16384,387,11702,1,1,81854.0,7,32.0,2,4242,0.0,14.0,3.0,2010.0,47,529
1,30876,26907,25673,314,17128,1,1,81856.0,6,32.0,2,9043,0.0,6.0,12.0,2017.0,43,474
2,10360,19353,18492,314,11105,1,1,81863.0,1,14.0,0,13961,0.0,6.0,9.0,2016.0,25,244
3,27268,3670,3463,314,16421,1,1,81859.0,3,38.0,2,11916,0.0,4.0,3.0,2017.0,34,382
4,34144,10068,9555,314,1173,1,1,81911.0,0,33.0,2,16551,0.0,11.0,5.0,2014.0,2,26

In [53]:
testdata_interaction = testdata_interaction.assign(ReasonSectionViolations=interactions2)

In [54]:
testdata_interaction['ReasonSectionViolations'] = label_enc2.transform(testdata_interaction['ReasonSectionViolations'])

In [55]:
####feature 3

In [56]:
interactions3 = (traindata_interaction['SectionViolations'].map(str)) + "_" + (traindata_interaction['RiskLevel'].map(str))

In [57]:
label_enc3 = LabelEncoder()
traindata_interaction = traindata_interaction.assign(SectionViolationsRiskLevel=label_enc3.fit_transform(interactions3))

In [58]:
testdata_interaction = testdata_interaction.assign(SectionViolationsRiskLevel=interactions3)
testdata_interaction['SectionViolationsRiskLevel'] = label_enc3.transform(testdata_interaction['SectionViolationsRiskLevel'])

In [59]:
testdata_interaction.head()

,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc,hour,day,month,year,ReasonRiskLevel,ReasonSectionViolations,SectionViolationsRiskLevel
0,28225,4702,4480,314,13072,1,1,81875.0,0,2.0,0,15302,0.0,7.0,9.0,2018.0,47,529,74
1,743,25793,24635,50,2087,1,1,81882.0,0,32.0,2,3211,0.0,17.0,11.0,2014.0,43,474,74
2,24297,13257,12588,314,2382,1,1,81855.0,1,32.0,0,9774,0.0,19.0,12.0,2015.0,25,244,15
3,18030,7609,7234,338,12441,1,1,81883.0,0,32.0,0,3875,0.0,21.0,10.0,2010.0,34,382,93
4,17544,23678,22588,314,479,1,1,81862.0,0,33.0,0,511,0.0,31.0,1.0,2012.0,2,26,78

In [60]:
#error on validation data
score_dataset(traindata_interaction, testdata_interaction, y_train, y_valid)

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

     class 0       0.00      0.00      0.00         9
     class 1       0.45      0.48      0.46      5747
     class 2       0.33      0.03      0.06       258
     class 3       0.28      0.02      0.04       909
     class 4       0.76      0.85      0.80     15911
     class 5       0.51      0.60      0.55      4074
     class 6       0.46      0.14      0.22      2581

    accuracy                           0.65     29489
   macro avg       0.40      0.30      0.31     29489
weighted avg       0.62      0.65      0.62     29489

0.6487503814981858

# Feature selection 
## l1 penalty

In [ ]:
from sklearn.linear_model import LogisticRegression

from sklearn.feature_selection import SelectFromModel


# Set the regularization parameter C=1
logistic = LogisticRegression(C=1, penalty="l1", random_state=7 ,solver='liblinear').fit(traindata_interaction, y_train)
model = SelectFromModel(logistic, prefit=True)


X_new = model.transform(traindata_interaction)
X_new

In [ ]:
selected_features = pd.DataFrame(model.inverse_transform(X_new), 
                                 index=traindata_interaction.index,
                                 columns=traindata_interaction.columns)

# Dropped columns have values of all 0s, keep other columns 
selected_columns = selected_features.columns[selected_features.var() != 0]

In [ ]:
selected_columns

# Univariate featture selection

In [56]:
from sklearn.feature_selection import SelectKBest, f_classif
selector = SelectKBest(f_classif, k=14)

X_new1 = selector.fit_transform(traindata_interaction, y_train)
X_new1

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:114: UserWarning: Features [12] are constant.
  UserWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

array([[2.6121e+04, 7.6280e+03, 3.2600e+02, ..., 4.1000e+01, 4.9600e+02,
        7.2000e+01],
       [3.6379e+04, 9.2940e+03, 3.2600e+02, ..., 0.0000e+00, 2.6000e+01,
        7.6000e+01],
       [2.0219e+04, 4.6420e+03, 3.5100e+02, ..., 0.0000e+00, 1.3000e+01,
        3.6000e+01],
       ...,
       [1.7061e+04, 7.6630e+03, 3.2600e+02, ..., 3.2000e+01, 3.9200e+02,
        7.2000e+01],
       [4.7570e+03, 6.3450e+03, 3.2600e+02, ..., 2.5000e+01, 2.7500e+02,
        7.2000e+01],
       [3.4597e+04, 1.8877e+04, 3.2600e+02, ..., 1.3000e+01, 1.7000e+02,
        6.3000e+01]])

In [58]:
selected_features = pd.DataFrame(selector.inverse_transform(X_new1), 
                                 index=traindata_interaction.index, 
                                 columns=traindata_interaction.columns)
selected_features.head()

,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc,hour,day,month,year,ReasonRiskLevel,ReasonSectionViolations,SectionViolationsRiskLevel
0,26121.0,7628.0,0.0,326.0,0.0,0.0,0.0,0.0,6.0,32.0,0.0,7682.0,0.0,4.0,7.0,2015.0,41.0,496.0,72.0
1,36379.0,9294.0,0.0,326.0,0.0,0.0,0.0,0.0,0.0,33.0,0.0,1912.0,0.0,19.0,9.0,2016.0,0.0,26.0,76.0
2,20219.0,4642.0,0.0,351.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0,1352.0,0.0,22.0,1.0,2017.0,0.0,13.0,36.0
3,0.0,10843.0,0.0,64.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,5993.0,0.0,4.0,7.0,2015.0,28.0,333.0,63.0
4,3190.0,22923.0,0.0,326.0,0.0,0.0,0.0,0.0,1.0,32.0,0.0,15316.0,0.0,21.0,4.0,2015.0,25.0,275.0,72.0

# l2 penalty

In [61]:
logistic2 = LogisticRegression(C=1, penalty="l2", random_state=7).fit(traindata_interaction, y_train)
model2 = SelectFromModel(logistic2, prefit=True)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [62]:
X_new = model2.transform(traindata_interaction)
X_new

array([[8.1846e+04, 3.2000e+01, 4.9600e+02, 7.2000e+01],
       [8.1865e+04, 3.3000e+01, 2.6000e+01, 7.6000e+01],
       [8.1897e+04, 2.1000e+01, 1.3000e+01, 3.6000e+01],
       ...,
       [8.1870e+04, 3.2000e+01, 3.9200e+02, 7.2000e+01],
       [8.1886e+04, 3.2000e+01, 2.7500e+02, 7.2000e+01],
       [8.1859e+04, 3.0000e+00, 1.7000e+02, 6.3000e+01]])

In [65]:
selected_features2 = pd.DataFrame(model2.inverse_transform(X_new), 
                                 index=traindata_interaction.index,
                                 columns=traindata_interaction.columns)

# Dropped columns have values of all 0s, keep other columns 
selected_columns2 = selected_features2.columns[selected_features2.var() != 0]

In [68]:
selected_columns2

Index(['LocationID', 'SectionViolations', 'ReasonSectionViolations',
       'SectionViolationsRiskLevel'],
      dtype='object')

In [76]:
train = traindata_interaction[selected_columns]

In [78]:
valid = testdata_interaction[selected_columns]

In [79]:
score_dataset(train, valid, y_train, y_valid)

              precision    recall  f1-score   support

     class 0       0.00      0.00      0.00         0
     class 1       0.23      0.26      0.24        23
     class 2       0.00      0.00      0.00         0
     class 3       0.00      0.00      0.00         4
     class 4       0.81      0.87      0.84        86
     class 5       0.44      0.48      0.46        23
     class 6       0.00      0.00      0.00        12

   micro avg       0.62      0.62      0.62       148
   macro avg       0.21      0.23      0.22       148
weighted avg       0.57      0.62      0.60       148

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

0.6216216216216216